name: Release

on:
  release:
    types: [created]

jobs:
  build:
    name: Build
    runs-on: macos-latest
    strategy:
      matrix:
        goarch: [amd64, arm64]
    steps:
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.22'

    - name: Check out code
      uses: actions/checkout@v4

    - name: Build
      env:
        GOOS: darwin
        GOARCH: ${{ matrix.goarch }}
        CGO_ENABLED: 1
      run: |
        go build -v -o fixtwitter-darwin-${{ matrix.goarch }}

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: fixtwitter-darwin-${{ matrix.goarch }}
        path: fixtwitter-darwin-${{ matrix.goarch }}
  
    - name: Upload Artifact to Release
      uses: softprops/action-gh-release@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        files: ./fixtwitter-darwin-${{ matrix.goarch }}