name: Release

on:
  release:
    types: [created]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [darwin]
        goarch: [amd64, arm64]
    steps:
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.22'

    - name: Check out code
      uses: actions/checkout@v4

    - name: Build
      env:
        GOOS: ${{ matrix.goos }}
        GOARCH: ${{ matrix.goarch }}
        CGO_ENABLED: 1
      run: |
        if [ "${{ matrix.goos }}" = "darwin" ] && [ "${{ matrix.goarch }}" = "amd64" ]; then
          export CC=o64-clang
          export CXX=o64-clang++
        elif [ "${{ matrix.goos }}" = "darwin" ] && [ "${{ matrix.goarch }}" = "arm64" ]; then
          export CC=oa64-clang
          export CXX=oa64-clang++
        fi
        go build -v -o fixtwitter-${{ matrix.goos }}-${{ matrix.goarch }}

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: fixtwitter-${{ matrix.goos }}-${{ matrix.goarch }}
        path: fixtwitter-${{ matrix.goos }}-${{ matrix.goarch }}
  
    - name: Upload Artifact to Release
      uses: softprops/action-gh-release@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        files: ./fixtwitter-${{ matrix.goos }}-${{ matrix.goarch }}